@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.absolute-center {
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
		position: absolute;
	}
    .no-wrap {
        white-space: nowrap;
    }
}
